<div class="head">

</div>

<div class="card-container">
    <div class="card u-clearfix">
        <div class="card-body">
            <span class="card-number card-circle subtle">1</span>
            <span class="card-author subtle">{{product.name}}</span>
            <h2 class="card-title">${{product.price}}</h2>
            <span class="card-description subtle">{{product.description}}</span>
            <button (click)="addToCart()" class="btn btn-success m-4">Add To Cart</button>
            <span class="card-tag card-circle subtle">C</span>
        </div>
        <img src="{{product.image}}" alt="" class="card-media" />
    </div>
    <div class="card-shadow"></div>
</div>